
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f7fa; /* Fondo celeste suave */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    cursor: url('../botella.png'), auto;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    cursor: url('../botella.png'), auto;
}


h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #01579b; 
    margin-bottom: 20px;
    cursor: url('../botella.png'), auto;
}


.form-section {
    background-color: #b3e5fc; 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: url('../botella.png'), auto;
}

.form-section h2 {
    color: #01579b; 
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #0277bd;
    cursor: url('../botella.png'), auto;
}


select, input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #81d4fa; 
    border-radius: 5px;
    background-color: #e1f5fe; 
    box-sizing: border-box; 
    cursor: url('../botella.png'), auto;
}


button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0288d1; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    cursor: url('../botella1.png'), auto;
}

button:hover {
    background-color: #0277bd; 
}


.pedidos-lista {
    background-color: #b3e5fc; 
    padding: 20px;
    border-radius: 8px;
}

.pedidos-lista h2 {
    color: #01579b;
    margin-bottom: 15px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #81d4fa; 
}

th, td {
    padding: 12px;
    text-align: center; 
    color: #0277bd; 
    background-color: #e1f5fe; 
}

th {
    background-color: #81d4fa; 
    color: #01579b; 
}


button.delete-btn {
    background-color: #e53935;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

button.delete-btn:hover {
    background-color: #d32f2f; 
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: left;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0288d1; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #0277bd; 
}






